html {
  box-sizing: border-box;
  background-color: #79756f;

  line-height: 1.5;
}

h1 {
  color: white;
  font-family: 'Bevan', 'san-serif';
}

.planets {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.planets li {
  display: inline-block;
  margin: o.3em;
  max-width: 20em;
  padding: 0.6em 0.5em 0.75em;
}

*, *::before, *::after {
  box-sizing: inherit;
}
